---
layout: default
title: Diary
css-include: diary
---
{% capture paginat %}
			{% assign pagepostcount = paginator.posts | size %}
			{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}" class="btn previous">Newer</a>
			{% else %}
			<a class="btn previous disabled">Newer</a>
			{% endif %}
			<a href="/diary/all" title="Page {{ paginator.page }} of {{ paginator.total_pages }}" class="page_number">{{ paginator.page | minus: 1 | times: paginator.per_page | plus: 1 }} - {{ paginator.page | minus: 1 | times: paginator.per_page | plus: pagepostcount }} of {{ paginator.total_posts }}</a><!--
			<a href="all" class="page_number">Page {{ paginator.page }} of {{ paginator.total_pages }}</a> -->
			{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}" class="btn next">Older</a>
			{% else %}
			<a class="btn next disabled">Older</a>
			{% endif %}
{% endcapture %}
	<nav>
		{{ paginat }}
	</nav>
		{% for post in paginator.posts %}
		<article>
			<h1 title="Posted on {{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "<span>%Y-%m-%d</span>" }}
			<a href="{{ post.url }}">#{{ post.title }}</a>
			</h1>
			<div class="content">
				{{ post.content }}
			</div>
		</article>
		{% endfor %}
	<nav>
		{{ paginat }}
	</nav>