<div class="news">
  <h2>Awards</h2>

  {% if site.awards  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign awards = site.awards | reverse %}
      {% for item in awards %}
        <tr>
          <th scope="row">{{ item.date | date: "%b, %Y" }}</th>
          <td>
            {% if item.link %}
              <a class="news-title" target="_blank" href="{{ item.link }}">{{ item.content | remove: '<p>' | remove: '</p>' | emojify }}</a>
            {% else %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No awards so far...</p>
  {% endif %}
</div>