---
layout: default
---
{% capture paginat %}
			{% if page.previous %}
			<a href="{{ page.previous.url }}" class="btn previous">{{ page.previous.date | date: "%Y-%m-%d" }}</a>
			{% else %}
			<a class="btn previous disabled">Previous</a>
			{% endif %}
<!-- 			<a class="page_number">&nbsp;</a> -->
			<a class="btn" href="/diary/">Back to Diary</a>
			{% if page.next %}
			<a href="{{ page.next.url }}" class="btn next">{{ page.next.date | date: "%Y-%m-%d" }}</a>
			{% else %}
			<a class="btn next disabled">Next</a>
			{% endif %}
{% endcapture %}
	<article>
		<h1 title="Posted on {{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "<span>%Y-%m-%d</span>" }}</h1>
		<div class="content">
			{{ content }}
		</div>
	</article>
	<nav>
		{{ paginat }}
	</nav>