---
layout: default
---
<div class="container">
    <article id="post">
        <div id="post-header" class="text-center">
            <h1>{{ page.title }}</h1>
            <h2 class="headline">{{ page.date | date:"%B %-d, %Y" }}</h2>
            <div class="tags">
                <i class="fa fa-tags" aria-hidden="true" style="margin-right: 2px;"></i>
                {% for tag in page.tags %}
                <a href="{{ root_url }}/blog?tag={{ tag }}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        <section id="post-body">
            {{ content }}
        </section>
    </article>

    {% include share.html %}

    <div id="post-pagination">
        {% if page.next.url %}
        <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
        {% endif %}
        {% if page.previous.url %}
        <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
        {% endif %}

        <a href="/blog/" class="top">Blog Top</a>
    </div>

</div>