---
layout: default
---
{% capture paginat %}
			{% if page.previous %}
			<a href="{{ page.previous.url }}" class="btn previous">{{ page.previous.date | date: "%B %d, %Y" }}</a>
			{% else %}
			<a class="btn previous disabled">Previous</a>
			{% endif %}
			<a class="page_number">&nbsp;</a>
			{% if page.next %}
			<a href="{{ page.next.url }}" class="btn next">{{ page.next.date | date: "%B %d, %Y" }}</a>
			{% else %}
			<a class="btn next disabled">Next</a>
			{% endif %}
{% endcapture %}<!--
	<header>
		<h1>ambrosechua's personal diary</h1>
		<h2>for my eyes only, unless...</h2>
		<nav>
			{{ paginat }}
		</nav>
	</header> -->
	<main>
		<article>
			<h1 title="Posted on {{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "<span>%d</span><span>%B</span><span>%Y</span>" }}<a href="{{ page.url }}">#{{ page.title }}</a></h1>
			<div class="content">
				{{ content }}
			</div>
		</article>
	</main>
	<footer>
		<nav>
			{{ paginat }}
		</nav>
	</footer>